<!-- Nav -->
<div class="navbar-pf navbar-pf-fixed">
  <!-- Logo -->
  <a href="#home" class="navbar-pf-brand">
    <svg xmlns="http://www.w3.org/2000/svg" width="170" class="logo" viewBox="8.18 357.5 332.5 43">
      <defs>
        <style>
          .cls-1 {
            fill: #03bb9c;
            stroke: rgba(0,0,0,0);
          }
        </style>
      </defs>
      <path id="Tracé_1" data-name="Tracé 1" class="cls-1" d="M5.1-.42a1.389,1.389,0,0,1-.42-1.02V-40.5a1.524,1.524,0,0,1,.39-1.08A1.364,1.364,0,0,1,6.12-42H22.2q7.26,0,11.4,3.42t4.14,9.96q0,6.48-4.14,9.81T22.2-15.48H13.38V-1.44a1.364,1.364,0,0,1-.42,1.05A1.524,1.524,0,0,1,11.88,0H6.12A1.389,1.389,0,0,1,5.1-.42ZM21.9-22.2a7.677,7.677,0,0,0,5.31-1.65,6.17,6.17,0,0,0,1.83-4.83,6.505,6.505,0,0,0-1.77-4.86q-1.77-1.74-5.37-1.74H13.26V-22.2ZM38.1-.36a1.221,1.221,0,0,1-.36-.9l.12-.54,14.4-38.7A2.165,2.165,0,0,1,54.42-42h6.6a2.165,2.165,0,0,1,2.16,1.5L77.58-1.8l.12.54a1.174,1.174,0,0,1-.39.9,1.253,1.253,0,0,1-.87.36H71.1a1.739,1.739,0,0,1-1.74-1.14L66.6-8.4H48.84L46.08-1.14A1.739,1.739,0,0,1,44.34,0H39A1.221,1.221,0,0,1,38.1-.36Zm12.84-15H64.5L57.72-33.84Zm29.01,15a1.174,1.174,0,0,1-.39-.9,1.842,1.842,0,0,1,.24-.72L93.18-21.42,80.64-40.02a1.29,1.29,0,0,1-.24-.72,1.174,1.174,0,0,1,.39-.9,1.253,1.253,0,0,1,.87-.36h6.3a2.238,2.238,0,0,1,1.86,1.14l8.76,12.84,8.82-12.84A2.053,2.053,0,0,1,109.26-42h5.94a1.253,1.253,0,0,1,.87.36,1.174,1.174,0,0,1,.39.9,1.842,1.842,0,0,1-.24.72l-12.54,18.6L117.12-1.98a1.6,1.6,0,0,1,.18.72,1.221,1.221,0,0,1-.36.9,1.221,1.221,0,0,1-.9.36h-6.42a2.26,2.26,0,0,1-1.86-1.08l-9.48-13.5L88.92-1.08A2.26,2.26,0,0,1,87.06,0H80.82A1.253,1.253,0,0,1,79.95-.36Zm44.37,0a1.3,1.3,0,0,1-.36-.96v-39.3a1.4,1.4,0,0,1,.36-.99,1.244,1.244,0,0,1,.96-.39h23.16a1.379,1.379,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-20.7v16.14h19.5a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-19.5V-1.32a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08A1.3,1.3,0,0,1,124.32-.36Zm27.3,0a1.151,1.151,0,0,1-.36-.84l.12-.66L166.56-40.8A1.74,1.74,0,0,1,168.3-42h2.04a1.74,1.74,0,0,1,1.74,1.2L187.26-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H158.7L154.98-.9a1.684,1.684,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,151.62-.36Zm8.52-13.74H178.5l-9.18-23.64ZM194.85-.36a1.244,1.244,0,0,1-.39-.96v-39.3a1.319,1.319,0,0,1,.39-1.02,1.4,1.4,0,0,1,.99-.36h1.5a1.277,1.277,0,0,1,1.26.78L212.22-14.7,225.9-41.22a1.352,1.352,0,0,1,1.26-.78h1.44a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v39.3a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08a1.3,1.3,0,0,1-.96-.36,1.3,1.3,0,0,1-.36-.96V-33.84L214.74-11.28a1.891,1.891,0,0,1-1.86,1.2h-1.32a1.891,1.891,0,0,1-1.86-1.2L198.24-33.84V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.08A1.4,1.4,0,0,1,194.85-.36Zm46.77,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,241.62-.36Zm15.06,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-3.6h20.7a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36H257.64A1.3,1.3,0,0,1,256.68-.36Zm32.88,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,289.56-.36Zm10.86,0a1.151,1.151,0,0,1-.36-.84l.12-.66L315.36-40.8A1.74,1.74,0,0,1,317.1-42h2.04a1.74,1.74,0,0,1,1.74,1.2L336.06-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H307.5L303.78-.9a1.683,1.683,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,300.42-.36Zm8.52-13.74H327.3l-9.18-23.64Z" transform="translate(4 400)"/>
    </svg>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-pf-right hidden-xs hidden-sm">
    <a href="#discover" class="navbar-pf-item navbar-pf-link">Découvrir</a>
    <a href="#preorder" class="navbar-pf-item navbar-pf-link">Pourquoi précommander?</a>
    <a href="#feedbacks" class="navbar-pf-item navbar-pf-link">Avis</a>
    <a href="#security" class="navbar-pf-item navbar-pf-link">Sécurité</a>
    <a href="#team" class="navbar-pf-item navbar-pf-link">Equipe</a>
    <a href="#faq" class="navbar-pf-item navbar-pf-link">Questions</a>

    <!-- Button (call-to-action) -->
    <!-- <a href="" class="navbar-pf-item navbar-pf-button btn stripeButton">Précommandez</a> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-pf-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-pf-dropdown-menu">
        <li><a href="#discover" class="navbar-pf-item navbar-pf-link">Découvrir</a></li>
        <li><a href="#preorder" class="navbar-pf-item navbar-pf-link">Pourquoi précommander?</a></li>
        <li><a href="#feedbacks" class="navbar-pf-item navbar-pf-link">Avis</a></li>
        <li><a href="#security" class="navbar-pf-item navbar-pf-link">Sécurité</a></li>
        <li><a href="#team" class="navbar-pf-item navbar-pf-link">Equipe</a></li>
        <li><a href="#faq" class="navbar-pf-item navbar-pf-link">Questions</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Banner -->
<div class="introduction " id="home">
  <div class="video inline" style="background: linear-gradient(210deg, rgba(3, 187, 156, 0.9) 0%, rgba(52, 76, 92, 0.9) 80%), url('images/equipe-copie2.jpg');">


    <div class="container">
      <div class="row">
        <!-- Text introduction -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="intro-text">
            <h1>
              Une base d'information claire et documentée
              pour préparer <br> votre succession.
            </h1>
            <h3>Précommandez aujourd'hui PAX FAMILIA à 350€ HTVA</h3>

            <button class="button-primary small-btn mt10 mb10 stripeButton">Précommander</button>
            <button class="button-play small-btn mt10 mb10 ml10 stripeButton">
              <i class="fa fa-play mr10" aria-hidden="true"></i>
              Voir la vidéo
            </button>
          </div>
        </div>

        <!-- Image introduction -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag("param_screen.png", class: "computer")%>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section découverte -->
<div class="discover" id="discover">

  <!-- Titles -->
  <div class="container">
    <h1 class="text-center">PAX FAMILIA<div class="line"></div></h1>
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <h3 class="text-center paxfamilia-desc" id="alignment">Une interface neutre et indépendante pour organiser votre transmission patrimoniale.</h3>
      </div>
    </div>
  </div>

  <div class="container mt60">
    <div class="row">

      <!-- Bilan patrimonial -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("015-pie-chart.svg") %>
          </div>
          <h4>Bilan patrimonial</h4>
          <p>Etablissez le bilan détaillé et actualisé de votre patrimoine.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Inventaire des donations -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("014-list.svg") %>
          </div>
          <h4>Inventaire des donations</h4>
          <p>Accedez à la liste et au détail des donations réalisées au sein de votre famille.</p>
          <br>
          <button class="button-secondary">
            <a href="#popup1">Voir plus</a>
          </button>
        </div>
      </div>

      <!-- Coffre-fort digital -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("011-lock.svg") %>
          </div>
          <h4>Coffre-fort digital</h4>
          <p>Centralisez vos documents importants dans un endroit sécurisé.</p>
          <br>
          <div class="button-secondary" id="planification">Voir plus</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt60">
    <div class="row">
      <!-- Plan financier -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("003-eye.svg") %>
          </div>
          <h4>Plan financier</h4>
          <p>Simulez vos scénarios financiers en fonction de vos revenus et dépenses futures.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Simulateur successoral -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("007-cogwheel.svg") %>
          </div>
          <h4>Simulateur successoral</h4>
          <p>Calculez avec précision le risque fiscale de votre succession en Belgique.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Partage sécurisé -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon mb30">
            <%= image_tag("012-teamwork.svg") %>
          </div>
          <h4>Partage sécurisé</h4>
          <p>Partagez vos informations en toute sécurité avec vos personnes de confiance.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>
    </div>

    <!-- Pre-order btn -->
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <button class="button-primary  mb60 mt60 medium-btn stripeButton">Précommander</button>
      </div>
    </div>
  </div>
</div>

<!-- Section Pré-commandes -->
<div class="preorder" id="preorder">
  <h1 class="text-center">Pourquoi précommander?<div class="line"></div></h1>
  <h3 class=" text-center paxfamilia-desc">Un prix avantageux, un service premium et un sérieux coup de pouce.</h3>

  <!-- Why preorder? -->
  <div class="container mt40">
    <div class="row">
      <!-- Tarif réduit -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center mb30">
          <h4 class="mb10">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Prix avantageux
          </h4>
          <p>Payez une fois <strong>350€ HTVA</strong> pour une utilisation illimitée. <br> (La formule publique comprendra des frais de maintenance annuels, profitez-en!)</p>
        </div>
      </div>

      <!-- Base saine -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center mb30">
          <h4 class="mb10">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Service premium à vie
          </h4>
          <p>Vous bénéficierez toujours de la version la plus haut de gamme de notre offre.</p>
        </div>
      </div>

      <!-- Plus on attend -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center mb30">
          <h4 class="mb10">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Assistance optionnelle
          </h4>
          <p>Vous avez la posibilité de demander une assitance administrative à domicile pour <br>l'encodage de votre information. (60€/h HTVA)</p>
        </div>
      </div>

      <!-- Plus on attend -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center mb30">
          <h4 class="mb10">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Soutenir notre démarche
          </h4>
          <p>La prévente de notre produit nous permet de financer notre développement, merci!</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Timeline img -->
  <div class="container">


    <!-- Pre-order btn -->
    <div class="col-xs-12 col-md-12 col-lg-12 text-center mt60">
      <button class="button-primary medium-btn stripeButton">Précommander</button>
    </div>
  </div>
</div>


<!-- Section Avis -->
<div class="feedbacks" id="feedbacks">
  <h1 class="text-center">Ce que disent les professionels<div class="line"></div></h1>
  <h3 class=" text-center mb60 paxfamilia-desc">La transparence et l'information au service des familles.</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/p-nicaise.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda, laborum voluptates!"</p>
          <p><strong>Maître Pierre Nicaise</strong>, Président de la fédérations des Notaires de Belgique</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/pa-hocke.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nesciunt pariatur, ea dolor?"</p>
          <p><strong>Pierre-Alexis Hocke</strong>, Responsable département Juridique et Patrimonial à la banque Edmond de Rothschild</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/d-vanneste.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias quis ut inventore blanditiis."</p>
          <p><strong>Dominique Van Neste</strong>, Psychologue à la fondation Benoit.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Sécurité -->
<div class="security" id="security">
  <div class="container">
    <h1 class="text-center">Sécurité et confidentialité<div class="line"></div></h1>


    <!-- Row 1 -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Double authentification SMS</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Protection des serveurs</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Chiffrement des données stockées</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>
    </div>  <!-- end row 1 -->

    <!-- Row 2 -->
    <div class="row mt60">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Cryptage des données transférées</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Batîment sécurisé 24h/24h</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="">
          <i class="fa fa-lock fa-2x mt20 mb10" aria-hidden="true"></i>
          <h3>Vos données sont cryptées</h3>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>
    </div>  <!-- end row 1 -->
  </div>  <!-- end container -->
</div>  <!-- end section security -->









<!-- Section équipe -->
<div class="team" id="team">
  <h1 class="text-center">Notre équipe à votre service<div class="line"></div></h1>
  <div class="container">
    <div class="row">
      <!-- Guillaume Desclée -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui1.png" alt="gui1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>

      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>

      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
    </div> <!-- end row 1 -->

    <div class="row">
      <!-- Guillaume Desclée -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui1.png" alt="gui1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>

      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>

      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
    </div> <!-- end row 2 -->

  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6nA41guZ8Fgou8PQhl1jdyIq',
    image: 'https://diio988lyqzal.cloudfront.net/assets/logo-cec74ac441aa2bff70eb6990ccee3507f8628cf0971467ead062c23af630b0dc.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });

  $('.stripeButton').on('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'PaxFamilia',
      description: '350€ HTVA',
      zipCode: true,
      currency: 'eur',
      amount: 35000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>

<!-- Footer -->
<footer>
  <!-- Light part -->
  <div class="light text-center">
    <button class="button-primary medium-btn text-center" onClick="location.href='mailto:contact@friendsfamily.com?'">Contactez-nous</button>
  </div>

  <!-- Dark part -->
  <div class="dark">
    <div class="container">
      <div class="row">

        <!-- Address -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="address">
            <h4 class="mb20">FriendsFamily</h4>
            <p>
              Hive5 Co-working
              <br>
              Cours Saint-Michel 30
              <br>
              Securex Building 2nd floor
              <br>
              1040 Brussels
            </p>
            <img src="images/logowg.png" alt="logo friendsfamily" class="" width="50">
          </div>
        </div>

        <!-- Learn more -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="learn-more">
            <h4 class="mb20">En savoir plus</h4>
            <a href="#feedbacks">Avis des professionels</a>
            <a href="#security">Protection des données</a>
            <a href="https://www.friendsfamily.com/faq?locale=fr" target="_blank">F.A.Q.</a>
            <a href="#team">A propos</a>
          </div>
        </div>

        <!-- Services -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="services">
            <h4 class="mb20">Nos Services</h4>
            <a href="#alignment">Cadastre des transactions</a>
            <a href="#alignment">Bilan Patrimonial</a>
            <a href="#alignment">Contractualisation</a>
            <a href="#planification">Planification financière</a>
            <a href="#planification">Simulateur Successoral</a>
            <a href="#planification">Consultations Juridiques</a>
          </div>
        </div>

        <!-- Informations -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="infos">
            <h4 class="mb20">Contacts</h4>
            <a href="" onClick="location.href='mailto:contact@friendsfamily.com?'">contact@friendsfamily.com</a>
            <a class="mt10" href="tel:+3228805982">Téléphone: +32 2 880 59 82</a>
            <br><br><br>
            <a href="">Termes et Conditions</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <p class="copyright text-center">© FriendsFamily 2017 All Rights Reserved</p>
  </div>
</footer>



















